
/* default settings */
body {
/*    color:#3b2f2f;*/
  color:#392C20;
  -webkit-text-size-adjust: 100%;
}

a {
  color:#885224;
  text-decoration:none;
}

a:hover{
  text-decoration: underline;

}

/* applied to all html elements */
*{
    font-family: Arial;
}

.header {
  padding: 40px;
  text-align:center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/smallheader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  position: relative;
  height: 100%;
  min-height:100%;
  color: white;
  font-size: 20px;
}

.content {
  max-width: 800px;
  margin: auto;
}

/* social media icons */

.fa {
  padding: 8px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  /*  color: #6f4e37; */
  color: #3b2f2f;
}

.fa:hover {
    opacity: 0.7;
}
