* {
  font-family: Arial;
}

.header {
  padding: 40px;
  text-align:center;
#  background: #a2b9bc;
#  background: #222222;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../imgs/smallheader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  position: relative;
  height: 100%;
  min-height:100%;
  color: white;
  font-size: 20px;
}


.content {
  max-width: 800px;
  margin: auto;
}


